#Choose between firebase or sqlalchemy
DATABASE_ENGINE="firebase"
#Enable if DATABASE_ENGINE is sqlalchemy
#SQLALCHEMY_DATABASE_URI="sqlite:///3legs.db"
#Enable this line if DATABASE_ENGINE is firebase
FIREBASE_PRIVATE_KEY="./firebase.json"

GOOGLE_CLIENT_ID=""
SITE_URL="http://localhost"
