{% extends "layout.html" %}
{% block content %}
    <h1>Conferences</h1>
    {% if conferences == None %}
        <p>No conferences found</p>
    {% else %}
        <ul class="collapsible">
            {% for conference in conferences %}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">people</i>
                        <span class="grey-text">{{ conference.date }}</span>&nbsp;-&nbsp;<b>{{ conference.name }}</b>
                    </div>
                    <div class="collapsible-body">
                        <h4 class="light-green white-text" style="padding:15px;">Conference Details</h4>
                        <div class="divider"></div>
                        <p><b>Conference UUID: </b> {{ conference.conference_uuid }}</p>
                        <p><b>Conference Audio: </b> <br/><audio controls><source src="/static/conferences/{{ conference.audio | replace('https://api.nexmo.com/v1/files/','') }}.mp3" type="audio/mpeg"></audio></p>
                        <h4 class="light-green white-text" style="padding:15px;">Participants</h4>
                        <div class="divider"></div>
                        <div class="row">
                            {% for participant in conference.participants %}
                                <div class="col s12 m6">
                                    <p><b>Name: </b> {{ participant.name }}</p>
                                    <p><b>Phone: </b> {{ participant.phone }}</p>
                                    <p><b>Role: </b> {{ participant.role }}</p>
                                    <p><b>User Leg: </b> {{ participant.user_leg }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block script %}
    <script language="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, {});
        });
    </script>
{% endblock %}